.action {
  display: inline;
  list-style: none;
  font-size: small;
  padding: 10px 5px;
  text-align: center;
  border-radius: var(--border-radius);
}

.isActive {
  box-shadow: 0 0 5px var(--color);
}
