.civIcon {
  display: inline-block;
  text-align: center;
}

.civIcon:hover {
  cursor: pointer;
}

.civIcon:hover > .imageWrapper > .civImage {
  box-shadow: var(--box-shadow) var(--color-text-secondary);
}

.civIcon.chosen:hover {
  cursor: not-allowed;
}

.civIcon.chosen:hover > .imageWrapper >.civImage {
  box-shadow: none;
}

.civName {
  margin: 0;
}

.civImage {
  width: var(--icon-width);
  border-radius: var(--border-radius);
}

.imageWrapper {
  width: var(--icon-width);
  border-radius: var(--border-radius);
  line-height: 0;
  position: relative;
}

.picked {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--pick);
  background-color: rgba(9, 233, 0, 0.3);
  border-radius: var(--border-radius);
}

.banned {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--ban);
  background-color: rgba(233, 56, 69, 0.3);
  border-radius: var(--border-radius);
}
