:root {
  --spacing: 20px;
  --white: #fff;
  --captain1: #22c0bd;
  --captain2: #ffa30f;
  --admin: #f84dce;
  --pick: #3de911;
  --ban: #e93748;
  --active: #30aeff;
  --draft-width: 60px;
  --icon-width: 70px;
  --status-height: 60px;
}

a:hover {
  cursor: pointer;
}

a.disabled:hover {
  filter: none;
}

.disabled {
  opacity: 0.6;
}

.disabled:hover {
  cursor: not-allowed;
}

button {
  margin: 1.5rem 0 0.5rem 0;
  line-height: var(--line-height);
}

button.outline {
  background-color: var(--white);
  border: 2px solid var(--color);
  color: var(--color);
  font-style: italic;
}

input {
  border: 2px solid var(--color-bg-secondary);
}
