.pill {
  display: inline-block;
  width: 100%;
  border-radius: var(--border-radius);
  margin: 0 auto;
}

.captain1 {
  color: var(--captain1);
}

.captain2 {
  color: var(--captain2);
}

.admin {
  color: var(--admin);
}

.active {
  /*box-shadow: var(--box-shadow) var(--color);*/
  animation: pulse 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
