.label {
  margin: 0;
  padding: 0;
}

.input {
  margin: 0;
  display: inline;
}

.icon {
  margin-left: 10px;
}

.icon:hover {
  cursor: pointer;
}

.copiedContainer {
  position: relative;
}

.copied {
  position: absolute;
  top: -20px;
  left: -50%;
  border-radius: var(--border-radius);
  background-color: #94c28e;
  color: #007400;
  padding: 0 10px;
}

.spectators {
  float: right;
}

.specNumbers {
  margin-right: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
}
